# dependencies
package-lock.json
yarn.lock
node_modules

# production
*build/

# config
keys.ts
*.p8
.elasticbeanstalk/*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
react-app-env.*
.DS_Store
