@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,800');

/*
	l1  : #A7FFEB
	l2  : #64FFDA
	med : #1DE9B6
	dark: #00BFA5
*/

html {
	font-family: 'Heebo', sans-serif;
	height: 100%;
}

body {
	margin: 0;
}

/* menubar */

aside {
	background-color: #1DE9B6;
	position: fixed;
	height: 100%;
	width: 300px;
	transition: 0.2s;
	transition-timing-function: ease-out;
}

aside ul {
	margin-top: 50%;
	list-style: none;
	font-size: 35px;
	line-height: 70px;
	font-weight: 800;
}

aside li {
	color: #A7FFEB;
	transition: 0.2s;
	transition-timing-function: ease-in;
}

aside li:hover {
	color: white;
}

@media only screen and (max-width: 750px) {
	aside {
		height: 60px;
		width: 60px;
		background-image: url(../img/general/nav/menu.png);
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: 10px 10px;
	}

	aside ul {
		display: none;
	}
	
	.full {
		height: 100%;
		width: 100%;
		background-image: url(../img/general/nav/cancel.png);
	}
	
	.full ul {
		display: block;
		margin: 60px 0px;
		height:100%;
	}
}

/* main */

main {
	margin-left: 300px;
	overflow-y: scroll;
}

header h1 {
	text-align: center;
	color: #1DE9B6;
	font-size: 50px;
}

section {
	margin: 20px;
	height: 800px;
	background-color: gray;
}

footer {
	height: 100px;
}

@media only screen and (max-width: 750px) {
	main {
		margin-left: 0px;
	}
}